<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.e.sslapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme"
        >
        <!--        Version 4        -->
        <activity
            android:name="com.e.sslapp.v4.Activity4Record"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.e.sslapp.v4.Activity4Bluetooth"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.e.sslapp.v4.Activity4ConnectBluetooth"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.e.sslapp.v4.Activity4Handler"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.e.sslapp.v4.Activity4Manual"
            android:label="@string/app_name" >
        </activity>
        <!--        Version 3        -->
        <activity
            android:name="com.e.sslapp.v3.Activity3Manual"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.e.sslapp.v3.Activity3Handler"
            android:label="@string/app_name" >
        </activity>
        <!--        Version 2        -->
        <activity
            android:name="com.e.sslapp.v2.Activity2Manual"
            android:label="@string/app_name" >
        </activity>
        <!--        Version 1        -->
        <activity
            android:name="com.e.sslapp.v1.Activity1Manual"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
